@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', serif;
    background-color: #141414;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    opacity: 1;
}

.container
{
    max-width: 1800px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.col-3
{
    flex: 0 0 25%;
    max-width: 25%;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.login-form{
    max-width: 500px;
    background-color: #262626;
    padding: 40px;
    border-radius: 80px;
}

.form-item{
    margin-bottom: 10px;
}

.form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--skin-color);
    padding: 10px 25px;
    font-size: 16px;
    color: black;
    background-color: #545454;
}

.form-item .btn{
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid var(--skin-color);
    background-color: #545454;
}

.form-item .btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: 2px;
    color: var(--skin-color);
    font-size: 20px;
}

.hLink{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    color: var(--skin-color);
}

h2{
    color: var(--skin-color);
}

.nav-container{
    display: flex;
    justify-content: center;
}

.nav-container .Logout{
    position: absolute;
    top: 50px;
    right: 5%;
    width: 100px;
    height: 50px;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--skin-color);
    border-radius: 25px;
}

.nav-container .Logout:hover{
    border: 1px solid var(--skin-color);
}

.navigation{
    margin: 50px;
    width: 420px;
    height: 70px;
    background: #262626;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    width: 420px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a i{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--skin-color);
}

.navigation ul li.active a i{
    transform: translateY(-37.5px);
    color: #141414;
}

.navigation ul li a .text{
    position: absolute;
    color: var(--skin-color);
    font-weight: 400;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--skin-color);
    border-radius: 50%;
    border: 6px solid #141414;
    transition: 0.5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -21.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 #141414;
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -21.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 #141414;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator{
    transform: translateX(calc(70px * 5));
}

.modal-content{
    margin: 5px 50px;
    padding: 50px 0;
}

.modals{
    background: #262626;
    color: var(--skin-color);
    display: none;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 50px;
    border-radius: 30px;
}

.modals header{
    font-size: 2em;
    border-bottom: 1px solid var(--skin-color);
    width: auto;
    margin-bottom: 20px;
}

.modals footer{
    font-size: 2em;
    border-top: 1px solid var(--skin-color);
    width: auto;
    margin-top: 20px;
}

.modals .form-group{
    display: flex;
    flex: 0 0 100%;
    background-color: #141414;
    border: 1px solid var(--skin-color);
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    margin: 15px;
}

.rolls-group{
    border: 1px solid var(--skin-color);
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.rolls-group input{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 25px;
    background-color: #141414;
    border: 1px solid var(--skin-color);
}

.modals .rolls-group .column{
    flex: 33.33%;
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    justify-content: center;
    align-content: center;
}

.modals .rolls-group h1{
    font-size: 16px;
}

.roll-holder{
    display: flex;
    flex-wrap: wrap;
}
.roll-holder h1{
    flex: 0 0 100%;
}

.roll-result{
    flex: 0 0 75%;
    text-align: center;
}

.modals .rolls-group{
    flex: 0 0 25%;
    text-align: center;
}

.modals .rolls-group input{
    width: 100%;
}

.roll-result h1{
    font-size: 128px;
    border: 3px solid var(--skin-color);
    border-radius: 50%;
    margin: 50px 20%;
    box-shadow: 0 0 50px var(--skin-color);
    text-shadow: 0 0 20px black;
}

.roll-result h2{
    font-size: 64px;
}

.roll-holder a{
    width: 30%;
    height: 64px;
    background-color: var(--skin-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 32px;
    border-radius: 80px;
    margin: 0 35%;
}

.roll-holder a:hover{
    cursor: pointer;
}

.modals .form-group:hover{
    box-shadow: 0 0 20px var(--skin-color);
}

.modals textarea{
    width: 80%;
    height: 250px;
    border-radius: 10px;
    padding: 10px 25px;
    border: 1px solid var(--skin-color);
    color: black;
}

.modals textarea:hover{
    box-shadow: 0 0 20px var(--skin-color);
}

.modals .weather .current-weather{
    position: fixed;
    right: 50px;
    top: 300px;
    width: 30%;
    max-height: 100px;
}

.modals .weather .form-group{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin: 30px -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modals .weather .form-group .column{
    width: 20%;
    text-align: center;
    color: #262626;
}

.modals .weather .form-group i{
    font-size: 30px;
    width: 100%;
}

.modals .weather .form-group .column:hover{
    color: var(--skin-color);
    text-shadow: 0 0 20px var(--skin-color);
}

.modals .time-log .time{
    display: inline-flex;
    max-height: 100%;
    align-items: center;
}

.time-watch {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 80px;
    height: 50px;
    background-color: #141414;
    border-radius: 20px;
    border: 1px solid var(--skin-color);
    margin: 20px;
}
.time-watch h2{
    width: 100%;
}

.modals .log{
    padding: 10px 25px;
    background-color: #141414;
    width: 375px;
    border-radius: 25px;
    border: 1px solid var(--skin-color);
}
.modals .time-log .event-group{
    display: flex;
    width: 325px;
}
.modals .time-log .event-group h4{
    width: 50%;
    text-align: left;
    font-size: 16px;
}
.modals .time-log .event-group h5{
    width: 50%;
    text-align: right;
    font-size: 16px;
}

.display-two{
    display: flex;
    flex-wrap: wrap;
}

.stat-block h1{
    flex: 0 0 100%;
    margin: 15px;
    max-height: 50px;
}
.stat-block{
    flex: 0 0 33.33%;
    flex-wrap: wrap;
    border: 1px solid var(--skin-color);
    border-radius: 15px;
}

.stat-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--skin-color);
    padding: 15px;
}

.stat-title{
    line-height: 1;
    text-transform: capitalize;
    border-right: 1px solid var(--skin-color);
    text-align: center;
    height: 255px;
    padding-right: 15px;
    width: 40px;
    font-size: 14px;
}

.stat-value{
    flex: 0 0 20%;
    align-self: center;
    text-align: center;
}
.stat-value-main{
    flex: 0 0 20%;
    align-self: center;
    text-align: center;
}

.stat-value-main h2:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 18px;
    margin-left: 12px;
    border: 5px solid var(--skin-color);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    border-radius: 10%;
}

.stat-name{
    flex: 0 0 50%;
    align-self: center;
    padding-left: 15px;
    text-align: center;
}

.biology-block{
    flex: 0 0 33.33%;
    padding: 0 15px;
}

.details-block{
    border: 1px solid var(--skin-color);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.description-block{
    margin-top: 15px;
    border: 1px solid var(--skin-color);
    border-radius: 15px;
    padding: 15px;
}

.stat-block .display-two{
    margin: 0 15px;
}
.stat-block .display-two h1{
    flex: 0 0 100%;
    margin: 0;
    border-top: 1px solid var(--skin-color);
}

.stat-block .display-two h4{
    margin: 25px;
}

.family{
    padding: 15px;
    flex: 0 0 50%;
    border-right: 1px solid var(--skin-color);
}

.friends{
    flex: 0 0 50%;
    padding: 15px;
}

.stat-block h3{
    border-bottom: 1px solid var(--skin-color);
    border-top: 1px solid var(--skin-color);
}

.health-bar{
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    background-color: #545454;
    border-radius: 15px;
}

.health-bar-fill{
    height: 100%;
    background-color: var(--skin-color);
    transition: width 0.5s;
    border-radius: 15px;
}

.health-bar-value{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    border-radius: 15px;
}

.main-details{
    display: flex;
    width: 100%;
}

.progress-bars{
    flex: 0 0 30%;
}

.inventory{
    flex: 0 0 70%;
}

.top-inven{
    display: flex;
    width: 100%;
}

.top-inven .column{
    flex: 30%;
    width: 100%;
    margin-left: 10%;
}
.top-inven .column1{
    flex: 40%;
    width: 100%;

}
.inventory h2{
    flex: 100%;
    margin: 50px;
}
.equipped-item{
    margin-top: 20%;
}

.inventory h1:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 116px;
    margin-left: 63px;
    border: 5px solid var(--skin-color);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    border-radius: 10%;
}
@media (max-width: 800px){
    .biology, .main-stats, .sub-stats, .weapon-stats{
        flex: 0 0 100%;
    }
}