<body>
<div class="row">
  <div class="col-33">
    <div class="mainStats">
      <h1>Stats</h1>
      <div class="statGroup">
        <div class="col-15">
          <h2>Strength</h2>
        </div>
        <div class="col-20">
          <h1><span *ngIf="userCharacter.strength">{{userCharacter.strength[0]}}</span></h1>
        </div>
        <div class="col-50">
          <h3>Athletics</h3>
          <h3>Weight</h3>
        </div>
        <div class="col-15">
          <h3><span *ngIf="userCharacter.strength">{{userCharacter.strength[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.strength">{{userCharacter.strength[2]}}</span></h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Dexterity</h2>
        </div>
        <div class="col-20">
          <h1><span *ngIf="userCharacter.dexterity">{{userCharacter.dexterity[0]}}</span></h1>
        </div>
        <div class="col-50">
          <h3>Acrobatics</h3>
          <h3>Sleight of Hand</h3>
          <h3>Stealth</h3>
        </div>
        <div class="col-15">
          <h3><span *ngIf="userCharacter.dexterity">{{userCharacter.dexterity[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.dexterity">{{userCharacter.dexterity[2]}}</span></h3>
          <h3><span *ngIf="userCharacter.dexterity">{{userCharacter.dexterity[3]}}</span></h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Constitution</h2>
        </div>
        <div class="col-20">
          <h1><span *ngIf="userCharacter.constitution">{{userCharacter.constitution[0]}}</span></h1>
        </div>
        <div class="col-50">
        </div>
        <div class="col-15">
        </div>
      </div>
    </div>
  </div>
  <div class="col-33">
    <div class="biometrics">
      <h1>Character</h1>
      <h2>Name: <span>{{userCharacter.name}}</span></h2>
      <h2>Race: <span>{{userCharacter.race}}</span></h2>
      <h2>Class: <span>{{userCharacter.className}}</span></h2>
      <h2>Alignment: <span>{{userCharacter.alignment}}</span></h2>
    </div>
    <div class="photoGroup">
      <img [src]="userCharacter.imagePath" alt="">
    </div>
  </div>
  <div class="col-33">
    <div class="mainStats">
      <h1>Stats</h1>
      <div class="statGroup">
        <div class="col-15">
          <h2>Intelligence</h2>
        </div>
        <div class="col-20">
          <h1><span *ngIf="userCharacter.intelligence">{{userCharacter.intelligence[0]}}</span></h1>
        </div>
        <div class="col-50">
          <h3>History</h3>
          <h3>Investigation</h3>
          <h3>Nature</h3>
          <h3>Religion</h3>
        </div>
        <div class="col-15">
          <h3><span *ngIf="userCharacter.intelligence">{{userCharacter.intelligence[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.intelligence">{{userCharacter.intelligence[2]}}</span></h3>
          <h3><span *ngIf="userCharacter.intelligence">{{userCharacter.intelligence[3]}}</span></h3>
          <h3><span *ngIf="userCharacter.intelligence">{{userCharacter.intelligence[4]}}</span></h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Wisdom</h2>
        </div>
        <div class="col-20">
          <h1><span *ngIf="userCharacter.wisdom">{{userCharacter.wisdom[0]}}</span></h1>
        </div>
        <div class="col-50">
          <h3>Animal Handling</h3>
          <h3>Insight</h3>
          <h3>Medicine</h3>
          <h3>Perception</h3>
          <h3>Survival</h3>
        </div>
        <div class="col-15">
          <h3><span *ngIf="userCharacter.wisdom">{{userCharacter.wisdom[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.wisdom">{{userCharacter.wisdom[2]}}</span></h3>
          <h3><span *ngIf="userCharacter.wisdom">{{userCharacter.wisdom[3]}}</span></h3>
          <h3><span *ngIf="userCharacter.wisdom">{{userCharacter.wisdom[4]}}</span></h3>
          <h3><span *ngIf="userCharacter.wisdom">{{userCharacter.wisdom[5]}}</span></h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Charisma</h2>
        </div>
        <div class="col-20">
          <h1><span *ngIf="userCharacter.charisma">{{userCharacter.charisma[0]}}</span></h1>
        </div>
        <div class="col-50">
          <h3>Deception</h3>
          <h3>Intimidation</h3>
          <h3>Performance</h3>
          <h3>Persuasion</h3>
        </div>
        <div class="col-15">
          <h3><span *ngIf="userCharacter.charisma">{{userCharacter.charisma[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.charisma">{{userCharacter.charisma[2]}}</span></h3>
          <h3><span *ngIf="userCharacter.charisma">{{userCharacter.charisma[3]}}</span></h3>
          <h3><span *ngIf="userCharacter.charisma">{{userCharacter.charisma[4]}}</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="Description">
      <h1>Description</h1>
      <p>{{userCharacter.description}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-50">
    <div class="row">
      <div class="col-33">
        <div class="descGroup">
          <h2>Personality Traits</h2>
          <h3><span *ngIf="userCharacter.personalityTraits">{{userCharacter.personalityTraits[0]}}</span></h3>
          <h3><span *ngIf="userCharacter.personalityTraits">{{userCharacter.personalityTraits[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.personalityTraits">{{userCharacter.personalityTraits[2]}}</span></h3>
        </div>
      </div>
      <div class="col-33">
        <div class="descGroup">
          <h2>Flaws</h2>
          <h3><span *ngIf="userCharacter.flaws">{{userCharacter.flaws[0]}}</span></h3>
          <h3><span *ngIf="userCharacter.flaws">{{userCharacter.flaws[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.flaws">{{userCharacter.flaws[2]}}</span></h3>
        </div>
      </div>
      <div class="col-33">
        <div class="descGroup">
          <h2>Ideals</h2>
          <h3><span *ngIf="userCharacter.ideals">{{userCharacter.ideals[0]}}</span></h3>
          <h3><span *ngIf="userCharacter.ideals">{{userCharacter.ideals[1]}}</span></h3>
          <h3><span *ngIf="userCharacter.ideals">{{userCharacter.ideals[2]}}</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-50">
    <div class="row">
      <div class="col-50">
        <div class="descGroup">
          <h2>Family</h2>
          <div class="relationshipGroup">
            <h3><span *ngIf="userCharacter.family">{{userCharacter.family[0]}}</span></h3>
          </div>
          <div class="relationshipGroup">
            <h3><span *ngIf="userCharacter.family">{{userCharacter.family[1]}}</span></h3>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="descGroup">
          <h2>Friends</h2>
          <div class="relationshipGroup">
            <h3><span *ngIf="userCharacter.friends">{{userCharacter.friends[0]}}</span></h3>
          </div>
          <div class="relationshipGroup">
            <h3><span *ngIf="userCharacter.friends">{{userCharacter.friends[1]}}</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

