<body>
<div class="row">
  <div class="col-33">
    <div class="mainStats">
      <h1>Stats</h1>
      <div class="statGroup">
        <div class="col-15">
          <h2>Strength</h2>
        </div>
        <div class="col-20">
          <h1>13</h1>
          <h4>+2</h4>
        </div>
        <div class="col-50">
          <h3>Athletics</h3>
          <h3>Weight</h3>
        </div>
        <div class="col-15">
          <h3>+3</h3>
          <h3>0</h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Dexterity</h2>
        </div>
        <div class="col-20">
          <h1>18</h1>
          <h4>+4</h4>
        </div>
        <div class="col-50">
          <h3>Acrobatics</h3>
          <h3>Sleight of Hand</h3>
          <h3>Stealth</h3>
        </div>
        <div class="col-15">
          <h3>+3</h3>
          <h3>0</h3>
          <h3>+2</h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Constitution</h2>
        </div>
        <div class="col-20">
          <h1>6</h1>
          <h4>-2</h4>
        </div>
        <div class="col-50">
        </div>
        <div class="col-15">
        </div>
      </div>
    </div>
  </div>
  <div class="col-33">
    <div class="biometrics">
      <h1>Character</h1>
      <h2>Name: <span>Daeron Brightflame</span></h2>
      <h2>Race: <span>Human</span></h2>
      <h2>Class: <span>Level 5 Rogue</span></h2>
      <h2>Alignment: <span>Neutral Evil</span></h2>
    </div>
    <div class="photoGroup">
      <img src="../../../../assets/Daeron%20Brightflame.jpg" alt="">
    </div>
  </div>
  <div class="col-33">
    <div class="mainStats">
      <h1>Stats</h1>
      <div class="statGroup">
        <div class="col-15">
          <h2>Intelligence</h2>
        </div>
        <div class="col-20">
          <h1>18</h1>
          <h4>+4</h4>
        </div>
        <div class="col-50">
          <h3>History</h3>
          <h3>Investigation</h3>
          <h3>Nature</h3>
          <h3>Religion</h3>
        </div>
        <div class="col-15">
          <h3>+3</h3>
          <h3>0</h3>
          <h3>+1</h3>
          <h3>-3</h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Wisdom</h2>
        </div>
        <div class="col-20">
          <h1>17</h1>
          <h4>+3</h4>
        </div>
        <div class="col-50">
          <h3>Animal Handling</h3>
          <h3>Insight</h3>
          <h3>Medicine</h3>
          <h3>Perception</h3>
          <h3>Survival</h3>
        </div>
        <div class="col-15">
          <h3>+3</h3>
          <h3>0</h3>
          <h3>-4</h3>
          <h3>+2</h3>
          <h3>+1</h3>
        </div>
      </div>
      <div class="statGroup">
        <div class="col-15">
          <h2>Charisma</h2>
        </div>
        <div class="col-20">
          <h1>16</h1>
          <h4>+3</h4>
        </div>
        <div class="col-50">
          <h3>Deception</h3>
          <h3>Intimidation</h3>
          <h3>Performance</h3>
          <h3>Persuasion</h3>
        </div>
        <div class="col-15">
          <h3>+3</h3>
          <h3>0</h3>
          <h3>-3</h3>
          <h3>-1</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="Description">
      <h1>Description</h1>
      <p>Aitnhaoiuhwdfiu9 aorfnonf aonfoanwofn aownf awoinf gfaw ongoawin aopmn wofnao nmoangen aomadco moawinfo masdfAitnhaoiuhwdfiu9 aorfnonf aonfoanwofn aownf awoinf gfaw ongoawin aopmn wofnao nmoangen aomadco moawinfo masdfAitnhaoiuhwdfiu9 aorfnonf aonfoanwofn aownf awoinf gfaw ongoawin aopmn wofnao nmoangen aomadco moawinfo masdfAitnhaoiuhwdfiu9 aorfnonf aonfoanwofn aownf awoinf gfaw ongoawin aopmn wofnao nmoangen aomadco moawinfo masdf</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-50">
    <div class="row">
      <div class="col-33">
        <div class="descGroup">
          <h2>Personality Traits</h2>
          <h3><span>Arrogant</span></h3>
          <h3><span>Sly</span></h3>
          <h3><span>Secretive</span></h3>
        </div>
      </div>
      <div class="col-33">
        <div class="descGroup">
          <h2>Flaws</h2>
          <h3><span>Greedy</span></h3>
          <h3><span>Untrusting</span></h3>
          <h3><span>Defensive</span></h3>
        </div>
      </div>
      <div class="col-33">
        <div class="descGroup">
          <h2>Ideals</h2>
          <h3><span>Swords</span></h3>
          <h3><span>Bows</span></h3>
          <h3><span>Daggers</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-50">
    <div class="row">
      <div class="col-50">
        <div class="descGroup">
          <h2>Family</h2>
          <div class="relationshipGroup">
            <h3><span>Raynes Brightflame</span></h3>
            <h3><span>Sister</span></h3>
          </div>
          <div class="relationshipGroup">
            <h3><span>Baelor Brightflame</span></h3>
            <h3><span>Brother</span></h3>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="descGroup">
          <h2>Friends</h2>
          <div class="relationshipGroup">
            <h3><span>Malek Dorai</span></h3>
            <h3><span>Best Friend</span></h3>
          </div>
          <div class="relationshipGroup">
            <h3><span>Eric Dogel</span></h3>
            <h3><span>Captain</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

