<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


  <h1>Home</h1>
  <div class="container">
    <div class="row">
      <div class="col-100">
        <h2>Health</h2>
        <h2>Mana</h2>
        <h2>Exp</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <h1>Left Items</h1>
      </div>
      <div class="col-60">
        <h1>Image</h1>
      </div>
      <div class="col-20">
        <h1>Right Items</h1>
      </div>
    </div>
  </div>
</body>
</html>
