@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
body{
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  background-color: #1B1A17;
  color: #E3B04B;
}

.popUp{
  flex: 0 0 auto;
  width: 40%;
  padding: 15px;
  border: 1px solid #E3B04B;
  border-radius: 15px;
  box-shadow: 0 0 20px #E3B04B;
}
.row{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 1000px;
}
.inputGroup{
  padding-bottom: 15px;
}
input{
  background: #1B1A17;
  color: #E3B04B;
  border: 1px solid #E3B04B;
}
